* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter_Regular';
    src: url(../fonts/Inter/static/Inter-Regular.ttf);
}
@font-face {
    font-family: 'Inter_Bold';
    src: url(../fonts/Inter/static/Inter-Bold.ttf);
}

main {
    width: 100%;
    height: 100vh;
    background-color: #383f44;
    background-image: url(../img/bg-signup.png);
    display: flex;
    justify-content: center;
}

.container {
    width: 1300px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.sign_up_container {
    width: 430px;
    height: 100%;
    display: flex;
    align-items: center;
}

.sign_up {
    width: 100%;
    height: 400px;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title h1 {
    width: 100%;
    font-family: 'Inter_Bold';
    color: white;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.title .text {
    width: 100%;
    font-family: 'Inter_Regular';
    color: white;
    font-size: .875rem;
    margin-bottom: 24px;
}

.input_block {
    width: 100%;
    margin-bottom: 1.5rem;
}

.input_block .name, .input_block .email, .input_block .password {
    width: 100%;
    height: 44px;
    margin-bottom: 1rem;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #2A2A2A;
    padding-left: 13px;
    color: white;
}

.input_block .sign_button {
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #665DFE;
    text-transform: uppercase;
    font-family: 'Inter_Bold';
    color: white;
    font-size: .875rem;
    transition: .3s;
}

.input_block .sign_button:hover {
    cursor: pointer;
    background-color: #3e35e6;
}

.sign_in_part {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Inter_Regular';
    color: white;
    font-size: .875rem;
}

.sign_in_part .text_sign_in {
    margin-left: 3px;
    color: #665DFE;
    font-family: 'Inter_Bold';
    text-decoration: none;
}

.sign_in_part .text_sign_in:hover {
    cursor: pointer;
    color: #3e35e6;
}

.remember_block {
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.remember_block .remember {
    width: 15px;
    height: 15px;
    margin-top: 2px;
    margin-right: 7px;
    border-radius: 0.25rem;
    background-color: white;
    cursor: pointer;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: .2s;
}

.remember_block .remember::selection {
    background: none;
}

.remember_block .reset_password {
    font-family: 'Inter_Regular';
    color: #665DFE;
    font-size: 14px;
    text-decoration: none;
}

.remember_block .reset_password:hover {
    cursor: pointer;
    color: #3e35e6;
}

.remember_block .checkbox {
    display: flex;
}

.remember_block .checkbox .remember_text {
    font-family: 'Inter_Regular';
    color: #ADB5BD;
    font-size: 14px;
    cursor: pointer;
}

.remember_block .checkbox .remember_text::selection {
    background: none;
}